.digit {
    align-items: center;
}

.digit span {
    width: 150px;
    height: 150px;
    line-height: 130px;
    display: inline-block;
    text-align: center;
    font-size: 70px;
    border: 4px solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}